<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Available Spaces</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css" >
</head>
<body>
    <div class="toolbar">
        <!-- Toolbar content -->
        <a href="/available-spaces">Available spaces</a>
        <a href="/myaccount">My account</a>
        <a href="/logout">Log out</a>
        <!-- Add more links as needed -->
    </div>
    <div class="content">
        <div class="section-container">
            <div class="section">
                <h1>Your spaces</h1>
                <div class="button-container">
                    <p><input type="button" id="add_new_space" onclick="location.href='/new-space';" value="Add a new space" /></p>
                </div>
                {% for space in spaces %}
                <table border="2px solid" width="100%" >
                    <tr>
                        <td width="12%">Name</td>
                        <td> {{space.name}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{space.description}}</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>£{{"%.2f"|format(space.price/100)}} per night</td>
                    </tr>
                    <tr>
                        <td>Available from</td>
                        <td>{{space.start_date}}</td>
                    </tr>
                    <tr>
                        <td>Available till</td>
                        <td>{{space.end_date}}</td>
                    </tr>
                    <tr></tr>
                </table>
                {% endfor %}
            </div>
            <div class="section">
                <h1>Your bookings</h1>
                {% for booking_space in booking_spaces %}
                {% for booking in bookings %}
                {% if booking_space.id == booking.space_id %}
                <table border="2px solid" width="100%" >
                    <tr>
                        <td width="12%">Name</td>
                        <td> {{booking_space.name}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{booking_space.description}}</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>£{{"%.2f"|format(booking_space.price/100)}} per night for 
                            {{(booking.end_date - booking.start_date).days}}
                            night{% if (booking.end_date - booking.start_date).days > 1 %}s{% endif %}. 
                            Total: £{{ "%.2f"|format((booking_space.price/100) * (booking.end_date - booking.start_date).days) }}
                        </td>
                    </tr>
                    <tr>
                        <td>Check-in date</td>
                        <td>{{booking.start_date}}</td>
                    </tr>
                    <tr>
                        <td>Check-out date</td>
                        <td>{{booking.end_date}}</td>
                    </tr>
                    <tr></tr>
                </table>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>